* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

body{
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	font-family: 'Marck Script', sans-serif;
	font-size: 8em;
	text-align: center;
	line-height: .1em;
	color: #fff;
}

i {
	font-size: 1.2em;
}

h2 {
	font-family: 'Marck Script', sans-serif;
	font-size: 6em;
	text-align: center;
	font-weight: 500;
	letter-spacing: auto;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 10px;
}

h3 {
	font-family: 'Marck Script', sans-serif;
	font-size: 5em;
	text-align: center;
	font-weight: 300;
	letter-spacing: auto;
	color: #fff;
	margin: 0;
}

p {
	font-family: 'Marck Script', sans-serif;
	font-size: 3.75em;
	font-weight: 100;
	text-align: center;
	letter-spacing: auto;
	text-transform: uppercase;
	line-height: 0.9em;
	color: #fff;
	margin-top: 0px;
  margin-bottom: 30px;
}

#demo1 {
	font-size: 5em;
}

.entrance_menu {
	padding: 0em 5em;
	margin: 0;
	display: block;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	text-shadow: 0px 0px 0px #000;
	z-index: 100;
	background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/deli.jpg);
	background-size: 120vw;
	background-position: center;
	background-blend-mode: multiply;
}

.items {
	padding: 0 0em;
}

.items p {
	margin: 0px 0;
}

.background {
	position: absolute;
	display: block;
	float: left;
	top: 0;
	left: 0;
	z-index: -100;
}

.background video {
	width: 200vw;
	display: none;
	height: auto;
}
