* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

body{
	overflow-x: hidden;
	width: 960px;
	height: 1080px;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	font-family: 'Trade Winds', sans-serif;
	font-size: 8em;
	text-align: left;
	letter-spacing: auto;
	text-transform: uppercase;
	line-height: 0.5em;
	color: #fff;
}

h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 7em;
	text-align: left;
	font-weight: black;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #fff;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 5em;
	font-weight: 900;
	text-align: left;
	letter-spacing: auto;
	text-transform: uppercase;
	line-height: 0.85em;
	color: #fff;
}

.grill_menu {
	padding: 2em 5em;
	margin: 0;
	display: block;
	position: relative;
	height: 100vh;
	width: 100vw;
	text-shadow: 0px 0px 10px #000;
	z-index: 100;
}

.items {
	padding: 0 0em;
	width: 48%;

}

.background {
	position: relative;
	display: block;
	top: -100vh;
	z-index: 0;
}

.background video {
	width: 200vw;
	height: auto;
}
