html, body {
	margin: 0;
	padding: 0;
	background-color: #C9C9C9;
  height: 110vh;
  overflow-y: hidden;
}

body{
	overflow-x: hidden;
}

a {
  text-decoration: none;
}

.menu {
	margin: 0;
	display: block;
  text-align: center;
	position: relative;
	margin: 0 auto;
	height: auto;
	width: 100vw;
	z-index: 100;
  background-color: #C9C9C9;
}

.menu h1, .menu h2, .menu h3 {
  text-align: center;
  width: 80%;
  margin: 1em auto;
}

.logo {
  display: block;
  position: relative;
  background-image: url(images/augie_dining_services_new_color.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
  width: 80%;
  margin: 2em auto 0 auto;
  min-width: 265px;
  height: 12%;
}
h1 {
	font-family: sans-serif;
	font-size: 2.5em;
	text-align: left;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #545454;
}

h2 {
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: left;
	font-weight: black;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #545454;
}

h3 {
	font-family: sans-serif;
	color: #545454;
	text-transform: uppercase;
  transition: all 0.35s ease;
}

.link {
  width: 8.5em;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.link a {
  color: #545454;
  transition: all 0.2s ease;
}

.link a:hover, .veglink a:hover {
  color: #0090ff;
}

.link:hover {
  color: #949494;
  width: 20em;
}

.pizlink {
  width: 7.5em;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.pizlink:hover {
  color: #949494;
  width: 25em;
}

.pizlink a {
  color: #545454;
  transition: all 0.2s ease;
}

.pizlink a:hover {
  color: #0090ff;
}

.grilllink {
  width: 5.5em;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.grilllink:hover {
  color: #949494;
  width: 25em;
}

.grilllink a {
  color: #545454;
  transition: all 0.2s ease;
}

.grilllink a:hover {
  color: #0090ff;
}

.veglink {
  width: 13em;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.veglink:hover {
  color: #949494;
  width: 25em;
}

.veglink a {
  color: #545454;
  transition: all 0.2s ease;
}

.veglink a:hover {
  color: #0090ff;
}

.link a {
  color: #545454;
  text-decoration: underline;
}

.link_none {
  color: #545454;
  transition: all 0.2s ease;
  cursor: pointer;
}

.link_none:hover {
  color: #0090ff;
  width: 25em;
}

p, label {
	font-family: sans-serif;
	font-size: .75em;
	font-weight: 900;
	text-align: left;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #545454;
}

.parameters {
  background:#fff;
  padding: 0;
  width: 100vw;
  margin: 2em auto;
  position: relative;
  left: -5em;
}

.parameters div {
  padding-top: 2em;
  padding-bottom: 2em;
}

.day_selection {
  display: inline-block;
  position: relative;
	margin: 0 auto;
  width: 20vw;
  padding-left: 29vw;
}

.meal_selection {
  display: inline-block;
  position: relative;
	margin: 0 auto;
  width: 20vw;
  padding-right: 30vw;
}

.day_selection label, .meal_selection label {
  position: relative;
  left: 10.5em;
}

.day_selection h3, .day_selection select, .meal_selection h3, .meal_selection select {
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
}

.fields {
  display: inline-block;
  position: relative;
  float: left;
  width: 30%;
  padding-bottom: 5em;
  padding-left: 5em;
}

.fields input {
  width: 100%;
}

.days {
  display: inline-block;
  position: relative;
  float: right;
  width: 60%;
  top: 10em;
  padding-right: 5em;
}

.days div {
  padding: 1em;
}

.days table {
  background-color: #f1f1f1;
  padding: 1em;
}

td {
  border: #fff 2px solid;
  background-color: #fff;
}

#submit {
  padding: .25em 2.5vw;
  margin: 2em 1em;
  width: 25vw;
  background-color: #0090ff;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-weight: 900;
  border: none;
  border-radius: 10000px;
  transition: all 0.4s ease;
}

#submit:hover {
  padding: .25em 0em;
  width: 28vw;
  margin: 2em 0em;
  cursor: pointer;
}

form input {
  border: none;
  padding: 0.25em 1em;
}

form select {
  position: relative;
  top: 1em;
  padding: .5em 2em;
  margin: 2em;
  background-color: #0090ff;
  font-family: sans-serif;
  font-size: .75em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  border-radius: 10000px;
}

#ccb, #ccbr, #ccl, #ccd, #meb, #mebr, #mel, #med, #vegb, #vegbr, #vegl, #vegd,
#pizb, #pizbr, #pizl, #pizd, #grb, #grbr, #grl, #grd, #delb, #delbr, #dell, #deld, #soup1, #soup2 {
  font-weight: 100;
}

.preview_table, .preview_table iframe {
  position: relative;
  display: block;
  width: 100%;;
  height: 40vh;
  top: 200px;
  left: 100px;
}
/* {border: 1px rgba(0, 0, 0, 0.2) dashed;}
