html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.piz {
 background-image: url("images/pizza.jpg");
 background-position: center;
 background-size: cover;
}

.main {
  background-image: url("images/mainEventBackground.jpg");
  background-position: center;
  background-size: cover;
}

.chefs {
  background-image: url("images/chefsCornerBackground.jpg");
  background-position: center;
  background-size: cover;
}

.deli{
  background-image: url("images/deli.jpg");
  background-position: center;
  background-size: cover;
}

.entrance{
  background-image: url("images/grill.jpg");
  background-position: center;
  background-size: cover;
}

.grill {
  background-image: url("images/grill.jpg");
  background-position: center;
  background-size: cover;
}

.veg {
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("images/lettuce.jpg");
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
}

.dynItem {
  display: block;
  position: relative;
  z-index: 100;
  font-size: 3.75em;
  margin: 0 1em;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.titleImage {
  display: block;
  position: relative;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  margin: .25em auto;
  max-width: 70vw;
  color: #fff;
  z-index: 100;
  text-shadow: 0 0 10px #000;
}

.titleImage img {
  display: block;
  position: relative;
  top: 1em;
  max-width: 70vw;
  margin: 0 auto;
}

.typepiz h1 {font-family: 'Rye', sans-serif;}
.typepiz p {font-family: 'Bitter', sans-serif; text-align: center;}

.typegrill h1 {font-family: 'Trade Winds', sans-serif;}
.typegrill p {font-family: 'Work Sans', sans-serif; font-weight: 900; text-transform: uppercase; text-align: center;}

.typeveg h1 {font-family: 'Shadows Into Light', sans-serif;}
.typeveg p {font-family: 'Shadows Into Light', sans-serif; font-size: 1.5em; text-transform: uppercase; text-align: center;}

.typedmain h1 {}
.typedmain p {}

.typedchefs h1 {}
.typedchefs p {}

.typeddeli h1 {}
.typeddeli p {}
