* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #3C3230;
}

body{
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	font-family: 'Bungee Shade', sans-serif;
	font-size: 8em;
	text-align: center;
	letter-spacing: auto;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 400;
	color: #fff;
}

h2 {
	font-family: 'Seaweed Script', sans-serif;
	font-size: 7em;
	text-align: center;
	font-weight: black;
	letter-spacing: auto;
	text-transform: uppercase;
	color: #fff;
}

p {
	font-family: 'manjari', sans-serif;
	font-size: 6.5vw;
	font-weight: 300;
	text-align: center;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 1em;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
	color: #fff;
}

.chefs_menu {
	padding: 2em;
	margin: 0;
	display: block;
	position: relative;
	height: 100vh;
	width: 100vw;
	text-shadow: 0px 0px 10px #000;
	z-index: 100;
	/*background-color: rgba(0, 0, 0, 0.4);*/
	background-image: url("images/chefs_corner.jpg");
	background-size: 100%;
}

#chefs_corner_logo {
	display: block;
	position: relative;
	margin: 0 auto;
	background-image: url('images/chefs_corner_logo.png');
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center center;
	width: 75vw;
	height: 40vh;
}
.items {
	padding: 2em 0 0 0;
}

.background {
	position: relative;
	display: block;
	background-image: url('images/chefs_corner.jpg');
	background-size: 50%;
	height: auto;
	top: -100vh;
	z-index: 0;
}

.background video {
	position: relative;
	display: none;
	width: 200vw;
	height: auto;
}
